header {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*This section is for my navigation*/
nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav ul li {
    margin: 10px;
}
/*This is how my about section will appear*/
.about-section {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.about-section h2{
    margin: 10px;
    width: 200px;
}
/*This is how my work section will appear*/
.work-section {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.work-section h2{
    margin: 10px;
    width: 200px;
}
/*This how my contact section will appear*/
.contact-section {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.contact-section h2{
    margin: 10px;
    width: 200px;
}